<ul class="nav navbar-top-links navbar-right">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <a class="btn btn-primary" href="{# path('fos_user_security_logout') #}" role="button">Déconnexion</a>
    {% else %}
          <a class="btn btn-primary" href="{# path('fos_user_security_login') #}" role="button">Connexion</a>
    {% endif %}
    <li>
        <a class="right-sidebar-toggle">
            <i class="fa fa-help"></i>
        </a>
    </li>
</ul>
