<li class="nav-header" id="nav-header" >
    <div class="dropdown profile-element" style="text-align:left;">
        <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('homepage') }}">
            <span class="clear">
                <span class="block m-t-xs">
                    <h4 class="font-bold">Base de données des<br/>Anciens de l'IRC</h4>
                </span>
            </span>
        </a>
</div>
    <div class="logo-element">
        Atlas
    </div>
</li>
